:host {
  display: block;
  width: 100%;
  height: auto;
  background-color: rgb(15, 58, 105);
  padding: 10px;
  color: rgb(135, 176, 209);
}

.column {
  width: 270px;
  margin: 5px;
}

.text-light {
  color: rgb(208, 231, 249);
}
